@import url(http://fonts.googleapis.com/css?family=Quattrocento);
html,body{
    height: 100%;
    font-family: 'Quattrocento', serif;
    background: lightgray;
}

input[type="text"]::-webkit-input-placeholder{
    -webkit-transition: opacity 0.4s linear; 
    color: gray;
  }
  
input[type="text"]:focus::-webkit-input-placeholder{
    opacity: 0;
}

#loginStatus{
    text-align: center;
}

#titleHeader{
    text-align: center;
    font: bold;
}

#containerDiv {
    border: thin solid #45b3e0;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 15px;
}

#leftDiv {
    border: thin solid #f3fafd;
    position: relative;
    float: left;
    height: 90%;
    width: 40%;
    margin-left: 5%;
    margin-top: 2.5%;
    border-radius: 15px;
}

#whatTheyHateTitleContainer{
    position: relative;
    border-radius: 15px;
    height: 10%;
    width: 100%;
    border: thin solid #BC918F;
}

#whatTheyHateTitle, #flightDataTitle{
    text-align: center;
}

#flightDataTitleContainer{
    position: relative;
    border-radius: 15px;
    height: 10%;
    width: 100%;
    border: thin solid #BC918F;
}

#rightDiv{
    border: thin solid #f3fafd;
    position: relative;
    float: right;
    height: 90%;
    width: 40%;
    margin-right: 5%;
    margin-top: 2.5%;
    border-radius: 15px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  padding-right: 0%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    font-size: 12px;
    text-align: center;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #c9e9f6; 
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #87ceeb;
}
