@import url(http://fonts.googleapis.com/css?family=Quattrocento);
html,body{
    height: 100%;
    font-family: 'Quattrocento', serif;
}

#loginStatus{
    text-align: center;
}

#titleHeader{
    text-align: center;
    font: bold;
}

#containerDiv {
    border: thin solid black;
    width: 90%;
    height: 90%;
    margin: auto;
}

#leftDiv {
    border: thin solid black;
    position: relative;
    float: left;
    height: 90%;
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
}

#rightDiv{
    border: thin solid black;
    position: relative;
    float: right;
    height: 90%;
    width: 40%;
    margin-right: 5%;
    margin-top: 5%;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  padding-right: 0%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    font-size: 12px;
    text-align: center;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #c9e9f6; 
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #87ceeb;
}
