html,body{
    height: 100%;
}

#titleHeader{
    text-align: center;
}

#containerDiv {
    border: thin solid black;
    width: 90%;
    height: 90%;
    margin: auto;
}

#leftDiv {
    border: thin solid black;
    position: relative;
    float: left;
    height: 90%;
    width: 40%;
}

#rightDiv{
    border: thin solid black;
    position: relative;
    float: right;
    height: 90%;
    width: 40%;
}

#search_loc{
    text-align: center;
}


.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}